astroid==1.4.8
beautifulsoup4==4.5.1
click==6.6
Flask==0.11.1
isort==4.2.5
itsdangerous==0.24
Jinja2==2.8
lazy-object-proxy==1.2.2
livereload==2.4.1
Markdown==2.6.6
MarkupSafe==0.23
mccabe==0.5.2
mkdocs==0.15.3
mkdocs-bootstrap==0.1.1
mkdocs-bootswatch==0.4.0
pylint==1.6.4
PyYAML==3.11
six==1.10.0
tornado==4.4.1
virtualenv==15.0.3
Werkzeug==0.11.11
wrapt==1.10.8
yapf==0.11.1
